# Selenoid 
SELENOID_URL=ru.selenoid.autotests.cloud/wd/hub 
SELENOID_USER=user1 
SELENOID_PASSWORD=1234 

# Test data
BASE_URL=https://demoqa.com
API_BASE_URL=https://reqres.in/api
BROWSER=chrome
BROWSER_VERSION=128.0
WINDOW_SIZE=1920,1080
TIMEOUT=30

# Video settings
SELENOID_VIDEO_ENABLED=true  # ← новая опция

# Telegram
TELEGRAM_TOKEN=your_bot_token
TELEGRAM_CHAT_ID=your_chat_id